# Data Wrangling

In [1]:
#!pip install requests
#!pip install bs4
#!pip install plotly

import pandas as pd
import requests
from bs4 import BeautifulSoup

url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
data  = requests.get(url).text

soup = BeautifulSoup(data, 'html5lib')
tesla_revenue = pd.DataFrame(columns=["Date","Revenue"])

# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text.replace("$", "").replace(",", "")    
    tesla_revenue = tesla_revenue.append({"Date": date, "Revenue": revenue}, ignore_index = True) 
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]
tesla_revenue.tail()

          Date Revenue
43  2010-09-30      31
44  2010-06-30      28
45  2010-03-31      21
47  2009-09-30      46
48  2009-06-30      27